.signupPage {
	height: 100vh;
	height: 100dvh;
	display: grid;
	place-items: center;
}
.signupForm {
	display: flex;
	flex-direction: column;
	row-gap: 1ch;
}
.loginForm {
	outline: 2px solid gray;
	outline-offset: 1ch;
	/* box-shadow: 0 0 1ch 1px black; */
	/* border-radius: 1ch; */
}
.bg {
	background-color: red;
}
